<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="https://potatobug-admin.github.io/potatobug/potatobug/1.0/index.html">PotatoBug</a>
        <span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Research</a>
      </div>
      <div class="navbar-item" id="docsearch"></div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="{{{relativize (resolvePageURL 'antora::project/get-help.adoc')}}}"> Polemics Community</a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item has-label" href="https://www.youtube.com/@ChristianPrince1/streams">Christian Prince &nbsp;<i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a class="navbar-item has-label" href="https://www.youtube.com/@RobChristian/streams">Rob Christian &nbsp;<i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a class="navbar-item has-label" href="https://www.youtube.com/@apologeticsroadshow/streamshttps://www.youtube.com/@apologeticsroadshow/streams">David Wood &nbsp;<i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a class="navbar-item has-label" href="https://www.youtube.com/@ApostateProphet/streams">Apostate Prophet &nbsp;<i class="fa fa-youtube-play" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
